* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
}

/* Navbar */
.navbar ul {
    padding-left: 0;
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    border-style: solid;
    border-color: #747373;
    border-width: 1px;
    background-color: #000;
    margin: 0;
}
  
.navbar li {
    float: left;
}
  
  .navbar li a {
    display: block;
    text-align: center;
    padding: 20px 110px;
    text-decoration: none;
    text-decoration: none;
    color: #0f0;
    font-size: 20px;
}
  
  .navbar li a:hover {
    background-color: #111;
  }



/* Main Info */
.maininfo {
background-color: #000;
padding: 100px 0;
text-align: center;
}

.maininfo h1 {
color: #0f0;
font-size: 48px;
}

.maininfo p {
font-size: 24px;
}

/* Tickets */
.tickets {
background-color: #000;
text-align: center;
}

.tickets h1 {
color: #0f0;
font-size: 36px;
padding-bottom: 90px;
padding-top: 80px;
}

.tickets .ticket-block {
display: flex;
justify-content: center;
flex-wrap: wrap;
}

.tickets .ticket {
background-color: #090909;
border-radius: 10px;
}

.tickets .ticket h2 {
color: #0f0;
font-size: 24px;
margin-bottom: 10px;
}

.tickets .ticket p {
font-size: 18px;
margin-bottom: 10px;
}
.tickets input{
    border: none;
    display: block;
    height: 65px;
    width: 165px;
    margin: 68px 0;
    text-align: center;
    font-size: 15px;
    background-color: #D9D9D9;
  }

  .tickets .from input,.tickets  .start input{
    border-radius: 21px 0 0 21px;
    border-right-style: solid;
    border-right-width: 0.5px;
  }
  .tickets .to input, .tickets .end input{
    border-radius: 0 21px 21px 0;
  }
  .tickets .find span{
    background-color: #000;
    border-radius: 21px;
    
  }

  .tickets .to, .tickets .back{
    padding-right: 20px;
  }

  .tickets span{
    cursor: pointer;
    border: 2px solid #0f0;
    display: block;
    height: 65px;
    width: 165px;
    margin: 68px 0;
    margin-left: 20px;
    text-align: center;
    font-size: 15px;
    background-color: #000;
    display: flex;
    justify-content: center;
} 
.tickets i{
    padding-top: 20px;
    color: #0f0;
    font-family: Arial, sans-serif;
}
/* Sale */
.sale {
background-color: #000;
padding: 100px 0;
}

.sale h1 {
color: #0f0;
font-size: 36px;
}

.psale {
margin-bottom: 20px;
}

.psale h4 {
color: #0f0;
font-size: 24px;
}

/* Info */
.info {
background-color: #000;
padding: 100px 0;
}

.info h2 {
color: #0f0;
font-size: 36px;
text-align: center;
margin-bottom: 40px;
}

.bordereddiv {
border: 2px solid #0f0;
padding: 20px;
margin: 0 auto;
max-width: 600px;
border-radius: 21px;
}

/* Contact */
.contact {
background-color: #000;
padding: 100px 0;
}

.contact h2 {
color: #0f0;
font-size: 36px;
text-align: center;
margin-bottom: 40px;
}

.rooms p {
margin-bottom: 10px;
}
p{
    color: white;
}
hr{
    background-color: #0f0;
    border: none;
    height: 1px;;
  }
  .extrainfo{
    background-color: white;
    text-align: right;
  }
  .extrainfo p{
    padding: 15px 20px;
    font-size: 11px;
  }