/* *{
    margin: 0;
    padding: 0%;
    font-family: 'Roboto',Arial,sans-serif;
}

.navbar{
    background-color: #8D9A8C;
}
.image{
    display: block;
    color: white;
    text-align: center;
    padding: 30px 70px;
    text-decoration: none;
}
img{
    height: 39.2px;
    width: 24.07px;
    padding: 20px 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    overflow: hidden;
  }
.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    border-style: solid;
    border-color: #111;
    border-width: 1px;
}
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 30px 119.98px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  .maininfo{
    background-color: #2B2B2B;
    background-image: url(https://sun9-east.userapi.com/sun9-26/s/v1/ig2/dCbFZTPM9qoJSQZEdrWz66O55ZcFnImTrl69EuczOiY5j7ndcTUzktvDyiApx2YilwbgepR_VKRiexK731vauPSw.jpg?size=1728x972&quality=95&type=album);
    height: 800px;
    text-align: left;
    box-sizing: border-box;
    padding: 250px 0;
    color: #D9D9D9;
  }
  .maininfo h1{
    padding-left: 100px;
    padding-top: 0%;
  }
  p{
    margin: 0;
    padding-top: 60px;
    padding-left: 100px;
    color: #D9D9D9;
  }
  .text{
    font-size: 60px;
  }
  .tickets{
    background-color: #2B2B2B;
    padding: 0 100px 250px;
  }

  div .tickets{
    display: block;
    background-color: #2B2B2B;
  }

  div .tickblock{
    background-color: #8D9A8C;
    margin: 0 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
  }
  input{
    border: none;
    display: block;
    height: 65px;
    width: 165px;
    margin: 68px 0;
    text-align: center;
    font-size: 15px;
    background-color: #D9D9D9;
  }
  .from input, .go input{
    border-radius: 21px 0 0 21px;
    border-right-style: solid;
    border-right-width: 0.5px;
  }
  .to input, .back input{
    border-radius: 0 21px 21px 0;
  }
  .find input{
    background-color: #44534C;
  }
  .amount input, .find input{
    border-radius: 21px;
  }

  .to, .back, .amount{
    padding-right: 20px;
  }
  .amount input{
    width: 90px;
  }

  .sale{
    background-color: #8D9A8C;
    padding: 160px 100px;
  }
  .sale div{
    padding: 30px;
    border-style: solid;
    border-color: black;
    background-color: #D9D9D9;
    border-radius: 20px;
  }
  .sale h1{
    color: #D9D9D9;
    text-align: center;
    padding-bottom: 60px;
  }
  .psale{
    margin: 20px;;
  }
  .bordereddiv{
    border: 1px solid #D9D9D9;
    border-radius: 20px;
    padding-bottom: 80px;
    padding-right: 80px;
    font-size: 20px;
  }
  .info{
    background-color: #2B2B2B;
    color: #D9D9D9;
    text-align: left;
    padding: 80px 100px 200px 100px;
  }
  .info h2{
    text-align: center;
    padding-bottom: 90px;
    font-size: 27px;
  }
  .info h4{
    padding-bottom: 10px;
    padding-top: 20px;
    text-align: center;
  }
  .info p{
    width: fit-content;
    padding: 20px;
    padding-bottom: 10px;
  }
  hr{
    background-color: black;
    border: none;
    height: 1px;;
  }
  .extrainfo{
    background-color: #2B2B2B;
    text-align: right;
  }
  .extrainfo p{
    padding: 15px 20px;
    font-size: 11px;
  }
  .rooms{
    border: 1px solid #D9D9D9;
    border-radius: 19px;
    text-align: center;
  }
   */
   body{
    justify-content: center;
    display: flex;
    font-family: 'Poppins', sans-serif;
}
.main{
    width: 500px;
    padding: 15p;
    background-color: #ededed  ;
}
h1{
    text-align: center;
    color: #e69d17;
    margin: 10px;
}
input[type=text]{
    width: 90%;
    padding: 10px;
    font-size: 16px;
    margin-left: 8px;
    border-radius: 3px;
    border: none;
    outline: none;
}
.search {
    position: relative;
}
.search span{
    position: absolute;
    top: -10px;
    right: -4px;
    background: #e69d17;
    padding: 20px;
    display: flex;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    cursor: pointer;

}
.search span i{
    line-height: -100%;
}
ul {
    padding: 2px;
    list-style: none;
}
ul li {
    background-color: #fff;
    margin: 5px;
    padding: 10px;
    border-right: 4px solid #e69d17;
    border-left: 4px solid #e69d17;
}
ul li i {
    padding: 4px;
    float: right;
    cursor: pointer;
}
p{
    color: red;
    text-align: center;
}
i{
    background-color: #e69d17;
    width: 10px;
    height: 10px;
    border: 2px solid red;
}