<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2014-11-29/FileSaver.min.js"></script>
<div class="navbar">
  <ul>
    <li><a href="#main">FlyMe</a></li>
    <li><a href="#tickets">Билеты</a></li>
    <li><a href="#sale">Акции</a></li>
    <li><a href="#info">О компании</a></li>
    <li><a href="#contact">Контакты</a></li>
  </ul>
</div>
<div class="maininfo" id="main">
  <div class="text">
    <h1>FlyMe</h1>
    <p>c нами хоть на луну</p>
    <img src="https://adonius.club/uploads/posts/2022-02/1644360569_28-adonius-club-p-samolet-na-fone-luni-40.jpg"
      alt="">
  </div>
</div>

<app-ticketSearch></app-ticketSearch>

<div class="sale" id="sale">
  <br><br><br><br>
  <h2 style="height: 100px;">Акции</h2>
  <div class="ticket-block">
    <div class="bordereddiv">
      <h3 style="color: aliceblue; font-size:large;">Скидка для студентов</h3>
      <p>Для студентов очной формы обучения представляется скидка в размере 20% при предъявлении студенческого билета
      </p>
    </div>
    <div class="bordereddiv">
      <h3 style="color: aliceblue; font-size:large;">Скидка для пенсионеров</h3>
      <p>Предложение действует:</p>
      <p>Для женщин старше 55 лет</p>
      <p>Для мужчин старше 60 лет</p>
      <p>Для детей до 12 лет, следующих совместно со взрослым пассажиром "пенсионер" - скидка 15%</p>
    </div>
  </div>
</div>

<div class="info" id="info">
  <h2>О нас</h2>
  <div class="bordereddiv">
    <p>Компания FlyMe осуществляет авиаперевозки с 1 декабря 2014 года.</p>
    <p>Первый в России лоукостер стал самым успешным проектом в истории российской авиации.</p>
    <p>В 2018 году FlyMe стала мировым лидером по росту пассажиропотока.</p>
    <p>В 2020 году FlyMe стала самой пунктуальной авиакомпанией России.</p>
  </div>

</div>
<div class="contact" id="contact">
  <h2>Контакты</h2>
  <div class="bordereddiv">
    <p>Телефон: +7 (123) 456-7890</p>
    <p>Email: info@flyme.com</p>
    <p>Адрес: Москва, ул. Летательная, 1</p>
  </div>
  
  <div class="rooms">
  </div>
</div>

<div class="extrainfo">
  <hr>
  <p>© 2023, ООО «Авиакомпания «FlyMe»</p>
</div>