/* Navbar */
.navbar ul {
  padding-left: 0;
  overflow: hidden;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  border-style: solid;
  border-color: #747373;
  border-width: 1px;
  background-color: #000;
  margin: 0;
  border-left: none;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  text-align: center;
  padding: 20px 114px;
  text-decoration: none;
  text-decoration: none;
  color: #0f0;
  font-size: 20px;
}

.navbar li a:hover {
  background-color: #111;
}



/* Main Info */
.maininfo {
  background-color: #000;
  padding: 100px 0;
  text-align: center;
}

.maininfo h1 {
  color: #0f0;
  font-size: 48px;
}

.maininfo p {
  font-size: 24px;
}

/* Info */
.info {
  background-color: #000;
  padding: 100px 0;
  margin-bottom: 0;
  margin-top: 50px;
}

.info h2 {
  color: #0f0;
  font-size: 36px;
  text-align: center;
  margin-bottom: 40px;
}

.bordereddiv {
  border: 2px solid #0f0;
  padding: 20px;
  margin: 0 auto;
  max-width: 600px;
  border-radius: 21px;
}

img{
  width: 100%;
}

/* Contact */
.contact {
  background-color: #000;
  padding: 100px 0;
}

.contact h2, .sale h2 {
  color: #0f0;
  font-size: 36px;
  text-align: center;
  margin-bottom: 40px;
}

.rooms p {
  margin-bottom: 10px;
}

p {
  color: white;
}

hr {
  background-color: #0f0;
  border: none;
  height: 1px;
  ;
}

.extrainfo {
  text-align: right;
}

.extrainfo p {
  padding: 10px 20px;
  font-size: 11px;
}