.tickets {
    background-color: #000;
    text-align: center;
    }
    
    .tickets h1 {
    color: #0f0;
    font-size: 36px;
    padding-bottom: 90px;
    padding-top: 80px;
    }
    
    .tickets .ticket-block {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    }
    
    .tickets .ticket {
    background-color: #000;
    border-radius: 10px;
    }
    
    .tickets .ticket h2 {
    color: #0f0;
    font-size: 24px;
    margin-bottom: 10px;
    }
    
    .tickets .ticket p {
    font-size: 18px;
    margin-bottom: 10px;
    }
.tickets input, .tickets select{
  border: none;
  display: block;
  height: 65px;
  width: 165px;
  margin: 68px 0;
  text-align: center;
  font-size: 15px;
  background-color: #D9D9D9;
  color: #000;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
.tickets .start {
  padding-right: 5px;
}
.tickets .from input, .tickets .from select{
  border-radius: 21px 0 0 21px;
  border-right-style: solid;
  border-right-width: 0.5px;
}
.tickets  .start input{
  border-radius: 21px;
  border-right-style: solid;
  border-right-width: 0.5px;
}
.tickets .to input, .tickets .end input, .tickets .to select{
  border-radius: 0 21px 21px 0;
}      
.tickets .find span{
  background-color: #000;
  border-radius: 21px;
}      
.tickets .to, .tickets .back{
  padding-right: 20px;
}

.tickets span, .modal span{
  cursor: pointer;
  border: 2px solid #0f0;
  display: block;
  height: 65px;
  width: 165px;
  margin: 68px 0;
  margin-left: 20px;
  text-align: center;
  font-size: 15px;
  background-color: #000;
  display: flex;
  justify-content: center;   
} 
.tickets i{
  padding-top: 20px;
  color: #0f0;
  font-family: Arial, sans-serif;
}
.showTickets {
  background-color: #000;
  padding: 100px 0;
  text-align: center;
}

.showTickets h1 {
  color: #0f0;
  font-size: 36px;
  padding-bottom: 90px;
  padding-top: 80px;
}

.showTickets .ticket-block {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.showTickets .ticket {
  width: 300px;
  padding: 20px;
  margin: 20px;
  background-color: #000;
  border-radius: 10px;
  border: #fff solid 1px;
}
.showTickets .ticket h2 {
  color: #0f0;
  font-size: 24px;
  margin-bottom: 10px;
}
.showTickets .ticket p {
  font-size: 18px;
  margin-bottom: 10px;
}
.showTickets span{
  margin-left: 48.3px;
  margin-bottom: 38px;
  text-align:center;
}
    /* Стили всплывающего окна по-умолчанию */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.5); 
  z-index: 1050;
  -webkit-transition: opacity 200ms ease-in; 
  -moz-transition: opacity 200ms ease-in;
  transition: opacity 200ms ease-in;
  margin: 0;
  padding: 0;
}
.modal:target {
  opacity: 1; 
  pointer-events: all;
  overflow-y: auto; 
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
@media (min-width: 576px) {
.modal-dialog {
    max-width: 500px;
    margin: 30px auto; 
}
}
.modal-content {
  height: 650px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: .3rem;
  outline: 0;
}
@media (min-width: 768px) {
.modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}
}
.modal-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 5px;
  border-bottom: 1px solid #eceeef;
}
.modal-title {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5;
  font-size: 1.25rem;
  font-weight: 500;
}
.close {
  float: right;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
  text-decoration: none;
}
.close:focus, .close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: .75;
}
.modal-body {
position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 15px;
  overflow: auto;
}
.modal input{
  margin: 0;
  padding: 0;
  width: 100%;
}
.modal span{
  margin-left: 147px;
  border-radius: 21px;
}
.modal p{
  color: #000;
  font-size: medium;
  width: 100%;
  height: auto;
  visibility: visible;
}